<!-- <div class="background text-center">
  <img class="flexible" src="./../../../../assets/images/banner.png">
</div> -->

<div class="dj-banner">
  <div class="dj-bg">
      <img src="./../../../../assets/images/banner.jpg" alt="" height="auto" width="100%">
      <div class="dj-text">
          <h1><b>RICK AND MORTY APP</b></h1>
          <p>This is a web application creates with Angular.</p>
          <div class="row">
            <div class="col">
              <button routerLink="/characters" type="button" class="btn btn-info">Go to characters</button>
              &nbsp;
              <button routerLink="/episodes" type="button" class="btn btn-danger">Go to episodes</button>
            </div>
          </div>
      </div>
  </div>
</div>
