* {
  color: white;
}

.dj-banner {
  position: flex;
}

.dj-banner .dj-bg {
  background-image: url(./../../../../assets/images/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .banner {
    visibility: hidden;
  }
}

.dj-banner .dj-bg img {
  display: block;
  margin: 0 auto;
}

.dj-banner .dj-text {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
}

@media screen and (min-width:768px) {
  .dj-banner .dj-text {
    position: absolute;
    top: 50%; left: 10%;
    transform: translate(-10%, -50%);
    width: 50%;
    text-align: left;
  }
  .dj-banner .dj-text h1 {
    font-size: calc(2*1.9vw);
  }
  .dj-banner .dj-text p {
    font-size: calc(1.2*1.5vw);
  }
}
