<div class="container text-center">
  <div class="text-center">
    <h1 class="title">{{character.name}}</h1>
  </div>
  <div class="row">
    <div class="col-12">
      <img *ngIf="character.image !== ''" [src]="character.image">
    </div>
    <div class="col-12">
      <h2>Specie: {{character.species}}, Status: {{character.status}}, Gender: {{character.gender}}</h2>
    </div>
    <div class="col-12">
      <h2>List of episodes:</h2>
      <a class="text-center" *ngFor="let episode of episodes" [routerLink]="['/episodes', episode]">{{episode}} &nbsp;&nbsp;</a>
    </div>
  </div>
</div>
